           
<div id="panel-edit-drop" class="row">
    <div class="col-xs-12 col-sm-12">
        <h5 style="margin:0px">
            <b style="font-size:13px">Fecha:</b> 
            <a>[[dateSelect]]</a>
        </h5> 
        <h5 for="">
            <b>Inicio:</b> 
            <a>[[hourSelect]]</a>
        </h5>
        <div class="col-sm-"> 
            <h5 for=""><b>Duración:</b></h5>    
        </div> 
        <div class="col-sm-"> 
            <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
        </div> 
    </div>
</div>